<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-practitioner-heading"
        data-cy="PractitionerCreateUpdateHeading"
        jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.home.createOrEditLabel"
      >
        Create or edit a Practitioner
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              [class.active]="activeTab === 'personal-info'"
              href="#"
              (click)="selectTab('personal-info', $event)"
              role="tab"
              aria-controls="personal-info"
              >Personal Information</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              [class.active]="activeTab === 'academic-info'"
              href="#"
              (click)="selectTab('academic-info', $event)"
              role="tab"
              aria-controls="academic-info"
              >Academic Information</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              [class.active]="activeTab === 'employment-info'"
              href="#"
              (click)="selectTab('employment-info', $event)"
              role="tab"
              aria-controls="employment-info"
              >Employment Details</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              [class.active]="activeTab === 'contact-info'"
              href="#"
              (click)="selectTab('contact-info', $event)"
              role="tab"
              aria-controls="contact-info"
              >Contact Details</a
            >
          </li>
        </ul>

        <div class="tab-content mt-3" id="myTabContent">
          <div
            class="tab-pane fade"
            [ngClass]="{ 'show active': activeTab === 'personal-info' }"
            id="personal-info"
            role="tabpanel"
            aria-labelledby="personal-info-tab"
          >
            <!-- Personal Information Fields -->
            <p>This is the Personal Information tab content.</p>
            <div class="row">
              <div class="col-md-6 mb-3">
                @if (editForm.controls.id.value !== null) {
                  <div class="mb-3">
                    <label class="form-label" for="field_id" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.id">ID</label>
                    <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                  </div>
                }
              </div>

              <div class="col-md-6 mb-3"></div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="mb-3">
                  <label
                    class="form-label"
                    for="field_practitionerType"
                    [ngbTooltip]="'medicalLaboratoryPractitionerApp.practitioner.practitionerType' | translate"
                    jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.practitionerType"
                    >I hereby apply for registration as</label
                  >
                  <select
                    class="form-control"
                    name="practitionerType"
                    formControlName="practitionerType"
                    id="field_practitionerType"
                    data-cy="practitionerType"
                  >
                    <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.PractitionerType.null' | translate }}</option>
                    @for (practitionerType of practitionerTypeValues; track $index) {
                      <option [value]="practitionerType">
                        {{ 'medicalLaboratoryPractitionerApp.PractitionerType.' + practitionerType | translate }}
                      </option>
                    }
                  </select>
                </div>
              </div>
              @let registrationNumberRef = editForm.get('registrationNumber')!;
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_registrationNumber"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.registrationNumber"
                  >Registration Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="registrationNumber"
                  id="field_registrationNumber"
                  data-cy="registrationNumber"
                  formControlName="registrationNumber"
                />
                @if (registrationNumberRef.invalid && (registrationNumberRef.dirty || registrationNumberRef.touched)) {
                  <div>
                    @if (editForm.get('registrationNumber')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
              </div>
            </div>

            <!-- Title and gender -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_title" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.title">Title</label>
                <select class="form-control" name="title" formControlName="title" id="field_title" data-cy="title">
                  <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.Title.null' | translate }}</option>
                  @for (title of titleValues; track $index) {
                    <option [value]="title">{{ 'medicalLaboratoryPractitionerApp.Title.' + title | translate }}</option>
                  }
                </select>
              </div>
              @let genderRef = editForm.get('gender')!;
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_gender" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.gender"
                  >Gender</label
                >
                <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
                  <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.Gender.null' | translate }}</option>
                  @for (gender of genderValues; track $index) {
                    <option [value]="gender">{{ 'medicalLaboratoryPractitionerApp.Gender.' + gender | translate }}</option>
                  }
                </select>
                @if (genderRef.invalid && (genderRef.dirty || genderRef.touched)) {
                  <div>
                    @if (editForm.get('gender')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
              </div>
            </div>

            <!-- Surname and Forename -->
            <div class="row">
              @let surnameRef = editForm.get('surname')!;
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_surname" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.surname"
                  >Surname</label
                >
                <input type="text" class="form-control" name="surname" id="field_surname" data-cy="surname" formControlName="surname" />
                @if (surnameRef.invalid && (surnameRef.dirty || surnameRef.touched)) {
                  <div>
                    @if (editForm.get('surname')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
              </div>

              <div class="col-md-6 mb-3">
                @let forenamesRef = editForm.get('forenames')!;
                <div class="mb-3">
                  <label class="form-label" for="field_forenames" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.forenames"
                    >Forenames</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="forenames"
                    id="field_forenames"
                    data-cy="forenames"
                    formControlName="forenames"
                  />
                  @if (forenamesRef.invalid && (forenamesRef.dirty || forenamesRef.touched)) {
                    <div>
                      @if (editForm.get('forenames')?.errors?.required) {
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>

            <!-- Previous surnaame and and DOB -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="mb-3">
                  <label
                    class="form-label"
                    for="field_previousSurname"
                    jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.previousSurname"
                    >Previous Surname</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="previousSurname"
                    id="field_previousSurname"
                    data-cy="previousSurname"
                    formControlName="previousSurname"
                  />
                </div>
              </div>

              @let dobRef = editForm.get('dob')!;
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_dob" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.dob">Dob</label>
                <div class="input-group">
                  <input
                    id="field_dob"
                    data-cy="dob"
                    type="text"
                    class="form-control"
                    name="dob"
                    ngbDatepicker
                    #dobDp="ngbDatepicker"
                    formControlName="dob"
                  />
                  <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                </div>
                @if (dobRef.invalid && (dobRef.dirty || dobRef.touched)) {
                  <div>
                    @if (editForm.get('dob')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
              </div>

              <!-- Marital Status and Address 1 -->
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label
                    class="form-label"
                    for="field_maritalStatus"
                    jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.maritalStatus"
                    >Marital Status</label
                  >
                  <select
                    class="form-control"
                    name="maritalStatus"
                    formControlName="maritalStatus"
                    id="field_maritalStatus"
                    data-cy="maritalStatus"
                  >
                    <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.MaritalStatus.null' | translate }}</option>
                    @for (maritalStatus of maritalStatusValues; track $index) {
                      <option [value]="maritalStatus">
                        {{ 'medicalLaboratoryPractitionerApp.MaritalStatus.' + maritalStatus | translate }}
                      </option>
                    }
                  </select>
                </div>

                <div class="col-md-6 mb-3">
                  <!-- blank -->
                </div>
              </div>
            </div>

            <!-- Place of birth and Country of birth -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_placeOfBirthTown"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.placeOfBirthTown"
                  >Place Of Birth Town</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="placeOfBirthTown"
                  id="field_placeOfBirthTown"
                  data-cy="placeOfBirthTown"
                  formControlName="placeOfBirthTown"
                />
              </div>

              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_placeOfBirthCountry"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.placeOfBirthCountry"
                  >Country Of Birth</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="placeOfBirthCountry"
                  id="field_placeOfBirthCountry"
                  data-cy="placeOfBirthCountry"
                  formControlName="placeOfBirthCountry"
                />
              </div>
            </div>

            <!-- Nationality and National ID -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_nationality" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.nationality"
                  >Nationality</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="nationality"
                  id="field_nationality"
                  data-cy="nationality"
                  formControlName="nationality"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_nationalId" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.nationalId"
                  >National ID</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="nationalId"
                  id="field_nationalId"
                  data-cy="nationalId"
                  formControlName="nationalId"
                />
              </div>
            </div>
            <!-- Cell phone and Email -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_applicationFee"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.applicationFee"
                  >Application Fee</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="applicationFee"
                  id="field_applicationFee"
                  data-cy="applicationFee"
                  formControlName="applicationFee"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_status" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.status"
                  >Application Status</label
                >
                <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            [ngClass]="{ 'show active': activeTab === 'academic-info' }"
            id="academic-info"
            role="tabpanel"
            aria-labelledby="academic-info-tab"
          >
            <p>This is the Academic Information tab content.</p>
            <!-- Professional Qualification -->
            <div class="row">
              <div formArrayName="qualifications" class="col-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Training Institute</th>
                      <th>Date From</th>
                      <th>Date To</th>
                      <th>Awarded By</th>
                      <th>Date Awarded</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let qualification of qualifications.controls; let i = index" [formGroupName]="i">
                      <td>
                        <input formControlName="name" class="form-control" placeholder="Name" />
                      </td>
                      <td>
                        <input formControlName="trainingInstitute" class="form-control" placeholder="Training Institute" />
                      </td>
                      <td>
                        <input type="date" formControlName="dateFrom" class="form-control" placeholder="Date From" />
                      </td>
                      <td>
                        <input type="date" formControlName="dateTo" class="form-control" placeholder="Date To" />
                      </td>
                      <td>
                        <input formControlName="awardedBy" class="form-control" placeholder="Awarded By" />
                      </td>
                      <td>
                        <input type="date" formControlName="dateAwarded" class="form-control" placeholder="Date Awarded" />
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="removeQualification(i)">Remove</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-primary" (click)="addQualification()">Add Qualification</button>
                <!-- <button type="button" (click)="clearQualifications()">Clear</button> -->
              </div>
            </div>

            <!-- Upload documents -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_nameOfPlaceOfEmployment"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.uploadDocuments"
                  >Upload Documents</label
                >
                <input type="file" file-input="ctrl.file" required />
                <input
                  type="file"
                  class="form-control"
                  name="nameOfPlaceOfEmployment"
                  id="field_nameOfPlaceOfEmployment"
                  accept=".pdf, .doc, .docx"
                  data-cy="nameOfPlaceOfEmployment"
                  formControlName="nameOfPlaceOfEmployment"
                />
              </div>
              <div class="col-md-6 mb-3"></div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            [ngClass]="{ 'show active': activeTab === 'employment-info' }"
            id="employment-info"
            role="tabpanel"
            aria-labelledby="employment-info-tab"
          >
            <p>This is theemployment tab content.</p>
            <!-- Cell phone and Email -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_nameOfPlaceOfEmployment"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.nameOfPlaceOfEmployment"
                  >Place Of Employment</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="nameOfPlaceOfEmployment"
                  id="field_nameOfPlaceOfEmployment"
                  data-cy="nameOfPlaceOfEmployment"
                  formControlName="nameOfPlaceOfEmployment"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_employerAddress"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.employerAddress"
                  >Employer Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="employerAddress"
                  id="field_employerAddress"
                  data-cy="employerAddress"
                  formControlName="employerAddress"
                />
              </div>
            </div>

            <!-- Cell phone and Email -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_employerEmail"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.employerEmail"
                  >Employer Email</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="employerEmail"
                  id="field_employerEmail"
                  data-cy="employerEmail"
                  formControlName="employerEmail"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_dateOfEmployment"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.dateOfEmployment"
                  >Date Of Employment</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="dateOfEmployment"
                  id="field_dateOfEmployment"
                  data-cy="dateOfEmployment"
                  formControlName="dateOfEmployment"
                />
              </div>
            </div>

            <!-- Cell phone and Email -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_areaOfEmployment"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.areaOfEmployment"
                  >Area Of Employment</label
                >
                <select
                  class="form-control"
                  name="areaOfEmployment"
                  formControlName="areaOfEmployment"
                  id="field_areaOfEmployment"
                  data-cy="areaOfEmployment"
                >
                  <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.AreaOfEmployment.null' | translate }}</option>
                  @for (areaOfEmployment of areaOfEmploymentValues; track $index) {
                    <option [value]="areaOfEmployment">
                      {{ 'medicalLaboratoryPractitionerApp.AreaOfEmployment.' + areaOfEmployment | translate }}
                    </option>
                  }
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_employmentStatus"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.employmentStatus"
                  >Employment Status</label
                >
                <select
                  class="form-control"
                  name="employmentStatus"
                  formControlName="employmentStatus"
                  id="field_employmentStatus"
                  data-cy="employmentStatus"
                >
                  <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.EmploymentStatus.null' | translate }}</option>
                  @for (employmentStatus of employmentStatusValues; track $index) {
                    <option [value]="employmentStatus">
                      {{ 'medicalLaboratoryPractitionerApp.EmploymentStatus.' + employmentStatus | translate }}
                    </option>
                  }
                </select>
              </div>
            </div>

            <!-- Cell phone and Email -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_typeOfInstitution"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.typeOfInstitution"
                  >Type Of Institution</label
                >
                <select
                  class="form-control"
                  name="typeOfInstitution"
                  formControlName="typeOfInstitution"
                  id="field_typeOfInstitution"
                  data-cy="typeOfInstitution"
                >
                  <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.TypeOfInstitution.null' | translate }}</option>
                  @for (typeOfInstitution of typeOfInstitutionValues; track $index) {
                    <option [value]="typeOfInstitution">
                      {{ 'medicalLaboratoryPractitionerApp.TypeOfInstitution.' + typeOfInstitution | translate }}
                    </option>
                  }
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_provinceEmployed"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.provinceEmployed"
                  >Province Employed</label
                >
                <select
                  class="form-control"
                  name="provinceEmployed"
                  formControlName="provinceEmployed"
                  id="field_provinceEmployed"
                  data-cy="provinceEmployed"
                >
                  <option [ngValue]="null">{{ 'medicalLaboratoryPractitionerApp.Province.null' | translate }}</option>
                  @for (province of provinceValues; track $index) {
                    <option [value]="province">{{ 'medicalLaboratoryPractitionerApp.Province.' + province | translate }}</option>
                  }
                </select>
              </div>
            </div>

            <!-- Cell phone and Email -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_reasonForNonEmployment"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.reasonForNonEmployment"
                  >Reason For Non Employment</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="reasonForNonEmployment"
                  id="field_reasonForNonEmployment"
                  data-cy="reasonForNonEmployment"
                  formControlName="reasonForNonEmployment"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_dateOfApplication"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.dateOfApplication"
                  >Date Of Application</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="dateOfApplication"
                  id="field_dateOfApplication"
                  data-cy="dateOfApplication"
                  formControlName="dateOfApplication"
                />
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            [ngClass]="{ 'show active': activeTab === 'contact-info' }"
            id="contact-info"
            role="tabpanel"
            aria-labelledby="contact-info-tab"
          >
            <p>This is the contact-info tab content.</p>
            <!-- Marital Status and Address 1 -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_residentialAddress1"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.residentialAddress1"
                  >Residential Address 1</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="residentialAddress1"
                  id="field_residentialAddress1"
                  data-cy="residentialAddress1"
                  formControlName="residentialAddress1"
                />
              </div>

              <div class="col-md-6 mb-3">
                <!-- blank -->
              </div>
            </div>

            <!-- Address 2 and 3 -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_residentialAddress2"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.residentialAddress2"
                  >Residential Address 2</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="residentialAddress2"
                  id="field_residentialAddress2"
                  data-cy="residentialAddress2"
                  formControlName="residentialAddress2"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label
                  class="form-label"
                  for="field_residentialAddress3"
                  jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.residentialAddress3"
                  >Residential Address 3</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="residentialAddress3"
                  id="field_residentialAddress3"
                  data-cy="residentialAddress3"
                  formControlName="residentialAddress3"
                />
              </div>
            </div>

            <!-- Home phone and work phone -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_homePhone" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.homePhone"
                  >Home Phone</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="homePhone"
                  id="field_homePhone"
                  data-cy="homePhone"
                  formControlName="homePhone"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_workPhone" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.workPhone"
                  >Work Phone</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="workPhone"
                  id="field_workPhone"
                  data-cy="workPhone"
                  formControlName="workPhone"
                />
              </div>
            </div>

            <!-- Cell phone and Email -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_cellPhone" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.cellPhone"
                  >Cell Phone</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="cellPhone"
                  id="field_cellPhone"
                  data-cy="cellPhone"
                  formControlName="cellPhone"
                />
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label" for="field_emailAddress" jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.emailAddress"
                  >Email Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="emailAddress"
                  id="field_emailAddress"
                  data-cy="emailAddress"
                  formControlName="emailAddress"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Cell phone and Email -->
        <!-- <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label" for="field_reasonNotApproved"
              jhiTranslate="medicalLaboratoryPractitionerApp.practitioner.reasonNotApproved">Reason Not Approved</label>
            <input type="text" class="form-control" name="reasonNotApproved" id="field_reasonNotApproved"
              data-cy="reasonNotApproved" formControlName="reasonNotApproved" />
          </div>
          <div class="col-md-6 mb-3"></div>
        </div> -->

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
