<style>
  .count-container {
    display: flex;
    flex-wrap: wrap; /* Allows the divs to wrap on smaller screens */
    justify-content: space-around;
    padding: 2px;
  }

  .count {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 5px; /* Adjust padding for better height */
    text-align: center;
    width: 100%; /* Default to full width on small screens */
    max-width: 250px; /* Set a max width for larger screens */
    margin: 10px; /* Add margin for spacing */
  }

  /* Media Query for Larger Screens */
  @media (min-width: 600px) {
    .count {
      width: 30%; /* Adjust width for medium screens */
    }
  }

  @media (min-width: 900px) {
    .count {
      width: 20%; /* Adjust width for larger screens */
    }
  }
</style>
<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome,</span> (MLCSCZ)</h1>

    <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >You are logged in as user &quot;{{ accountRef.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      }
    </div>

    <div class="count-container">
      <div class="count">
        <p>Clinical Scientist</p>
        <p>10</p>
      </div>

      <div class="count">
        <p>Medical Research Scientist</p>
        <p>20</p>
      </div>

      <div class="count">
        <p>Medical Laboratory Scientist</p>
        <p>5</p>
      </div>
      <div class="count">
        <p>Medical Laboratory Technologist</p>
        <p>5</p>
      </div>
    </div>
    <div class="count-container">
      <div class="count">
        <p>State Certified Technician</p>
        <p>10</p>
      </div>

      <div class="count">
        <p>State Certified Blood Bank Technician</p>
        <p>20</p>
      </div>

      <div class="count">
        <p>Cyto-Technician</p>
        <p>5</p>
      </div>
      <div class="count">
        <p>Medical Laboratory Assistant</p>
        <p>5</p>
      </div>
    </div>

    <div class="count-container">
      <div class="count">
        <p>POC Tester</p>
        <p>10</p>
      </div>
      <div class="count">
        <p>Total Paid-Up Subscriptions</p>
        <p>5</p>
      </div>
      <div class="count">
        <p>Total Outstanding Subscriptions</p>
        <p>5</p>
      </div>
      <div class="count">
        <p>Notifications</p>
        <p>20</p>
      </div>
    </div>

    <p jhiTranslate="home.question">If you have any question on JHipster:</p>

    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >JHipster homepage</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >JHipster on Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >JHipster public chat room</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >follow &#64;jhipster on Twitter</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">If you like JHipster, don&apos;t forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >!
    </p>
  </div>
</div>
