<style>
  .count-container {
    display: flex;
    flex-wrap: wrap; /* Allows the divs to wrap on smaller screens */
    justify-content: space-around;
    padding: 2px;
  }

  .count {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 5px; /* Adjust padding for better height */
    text-align: center;
    width: 100%; /* Default to full width on small screens */
    max-width: 250px; /* Set a max width for larger screens */
    margin: 10px; /* Add margin for spacing */
  }

  /* Media Query for Larger Screens */
  @media (min-width: 600px) {
    .count {
      width: 30%; /* Adjust width for medium screens */
    }
  }

  @media (min-width: 900px) {
    .count {
      width: 20%; /* Adjust width for larger screens */
    }
  }
</style>
<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome,</span> (MLCSCZ)</h1>

    <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >You are logged in as user &quot;{{ accountRef.login }}&quot;.</span
            >
          }
        </div>
        <div class="count-container">
          <div class="count" *ngFor="let count of countsData">
            <p style="font-weight: 400">{{ count.formattedPractitionerType }}</p>
            <p>{{ count.count }}</p>
          </div>
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      }
    </div>
  </div>
</div>
